* {
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

/* nav container style */
.nav-container {
    display: flex;
    background-color: #A9A9A9;
    justify-content: space-around;
    padding: 20px;
    color: white;
}

.items {
    display: flex;
    list-style: none;

}

.item {
    padding: 5px;
    margin-right: 10px;
    font-size: 22px;
    font-weight: bold;

}

.banner-container {
    width: 100%;
    height: 100vh;
    background-image: url("../asset/image/background.jpg"),
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin: auto;
    color: white;
}

.title {
    font-size: 85px;
    font-weight: bold;
}

.single {
    color: red;
}

.description {
    font-size: 25px;
    padding-left: 200px;
    padding-right: 200px;
}

/* .buttons{
    margin-top: 10px;
} */

.btn {
    padding: 15px 35px;
    margin-top: 10px;
    margin-right: 5px;
    border: 0;
    font-size: 16px;
    /* font-weight: bold; */
}

.btn-discover {
    background-color: red;
    color: white;

}

.btn-hire {
    color: red;

}

/* service container style */
.service-container {
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-image: url("../asset/image/footer-bg.png"),
        linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.897));
    background-blend-mode: overlay;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.service-btn {
    color: gray;
    border-radius: 25px;
}

.service-information {
    color: white;
    width: 50%;
    /* justify-content: center; */
    align-items: center;
    margin-top: -110px;

}

.service-title {
    font-size: 45px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

.service-description {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}

.list {
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
}

.self-details {
    display: flex;
    margin-right: 50px;

}

.self-details img {
    border-radius: 100px;


}

.for-all-details {
    display: flex;


}

.vr-line {
    border-left: 1px solid red;
    height: 90px;
    margin-left: 40px;
}

.details-btn {
    border-radius: 25px;
    color: red;
    text-align: center;
    margin-left: 15px;
    margin-top: 20px;
}

.name {
    font-size: 11px;
    margin-left: 8px;
    margin-top: 20px;
    text-align: left;

}

/* .skills style */
.all-skills {
    margin-top: -135px;
}


.two-skills {
    display: flex;
}

.skills {
    background-color: white;
    height: 150px;
    width: 150px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    margin-right: 15px;
    color: black;
    padding: 50px;
}

.skill-img {
    width: 50%;
    padding: 20px;
}

/* call section style */
.phone-call{
    display: flex;
    align-items: center;
    border-right: 1px solid yellow;
    gap: 10px;
}
.phone-call h6{
    margin-right: 35px;
}
.call-icon{
    width: 90px;
}
.app-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    padding: 40px;
    width: 70%;
    margin: auto;
    border-radius: 25px;
    margin-top: -70px;
}
.app-btn{
    color: red;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0;
}
.app-description{
    margin-left: 10px;
    margin-right: 40px;
}
